@import url('//fonts.googleapis.com/css?family=Oswald:400&subset=latin,latin-ext');

body {
	margin:0px;
	padding:0px;
	font-family:tahoma;
	font-size:11px;
	background-color: #171717;
	/*background-image: url(images/tennis_live_bg.jpg);*/
	background-position: top center;
	background-repeat: no-repeat;
    opacity: 0.97

}

a {
  color: #2D2D2D;
  text-decoration: underline;
}

a:hover {
  color: #2D2D2D;
  text-decoration: none;
}

/* NADPISY */
h1 {
	margin:1px 0px 4px 27px;
	color:#934900;
	font-family:arial;
	font-size:17px;
	font-weight:bold;
}
h2 {
	margin:0px;
	color:#F1660A;
	font-size:13px;
	font-weight:normal;
    font-family: 'Oswald', sans-serif; letter-spacing: 1px;
}
h3 {
	margin:0px 0px 15px 4px;
	color:#554504;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
}

/* OBRÁZKY */
img {
  border: 0px;
}

/* FORMULÁRE */
fieldset
{
border: 0px;
margin: 0px;
padding: 0px;
}


/* ZOZNAMY  */
ol {
	font-family:verdana;
	font-size:12px;
}
ol li {
	margin:4px 0px 4px 0px;
}

/* TOP HEADER */

div.top_header {
	padding:5px 13px 6px 23px;
	background-color:#111111;
	color:#FFFFFF;
	font-family:trebuchet ms, tahoma;
	margin:2px 0px 0px 3px;
}

/* HLASENIA */
div.notification {
	height:58px;
	margin:5px 0px 5px 0px;
	background-color:#EBEBEB;
	border:1px solid #D8D8D8;
    float: left;
    width: 100%;
}
.notification img {
	position:absolute;
	top:5px;
	left:10px;
}

.notification div span {
	display:block;
	margin-bottom:0px;
	color:#666666;
	font-weight:bold;
}

.notification a:hover {
	text-decoration: none
}

/* HLAVNA CAST */

#top_position {
	float:left;
    text-align: left;
    margin: 1px;
    display: block;
    position: relative;
	top:5px;
	left:10px;
}

/* SKRYTE CASTI */

div#site_box {
	width:1070px;
    margin: 0px auto 20px auto;
}

div#site_box h1 {
 font-size: 11px;
 color: #FFFFFF;
  font-weight: normal;
}

div.main {

	width:900px;
	margin:0px 4px 0px 3px;
    float: left;
    background-color: #EFEFEF;
    position: relative;
}





/* SKRYTE CASTI */

div#hidden {
	position:absolute;
	z-index:-100;
	top:0px;
	left:0px;
}


.rou_tbc {
  -moz-border-radius-bottomleft: 4px;-moz-border-radius-bottomright: 4px;
  -moz-border-radius-topleft: 4px;-moz-border-radius-topright: 4px
  -webkit-border-radius: 4px 4px 4px 4px;border-radius: 4px 4px 4px 4px;
}


/* HEADER */

div#header {
	position:relative;
	background-color:#FFFFFF;
	font-family:tahoma, trebuchet ms ;
    height:100px;
    width:100%;
    /*background-image: url(images/tl_header_c_bg.png); */
    background-repeat: no-repeat;
    background-position: right top;
}



	/* Infopanel */
#header .navi {
	position:absolute;
	z-index:10;
	left:350px;
	color:#D9D9D8;
	top:1px;
}

#timezone_block {
	position:absolute;
	z-index:10;
	left:30px;
	color:#D9D9D8;
	top:121px;
}

#navi_block {
	position:absolute;
	z-index:10;
	left:0px;
	color:#FFFFFF;
	top:52px;
    background-color: #B3B300;
    width: 100%;
    border-top: 10px solid #DFDF00;
    padding: 8px 0px 8px 0px;
                /*background-image: url(images/shadow_bg_blck.png);*/
    background-repeat: no-repeat;
    background-position: right top;
}

#navi_block a {
  color: #F0F0F0;
  margin:0px 5px 0px 5px;
  padding: 2px 5px 4px 5px;
  background-color: #6C6C00;
              /*background-image: url(images/shadow_bg_wh.png);*/
    background-repeat: no-repeat;
    background-position: right top;
}

#navi_block a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

ul#head_menu {
	width:650px;
	padding:0px;
	color:#FFFFFF;
    float: left;
    list-style-type: none;
    margin: 0px;
}

ul#head_menu li {
	float:left;
	padding: 0px;
    margin: 0px;
      font-family: 'Oswald', sans-serif;
}



ul#head_menu li a {
position: relative;
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 15px;
	padding: 14.5px 15px;
	text-align: center;
    letter-spacing: 1px;
    margin-left: 1px;
    text-transform: uppercase;
    background-color: #B3B300;
        /*background-image: url(images/shadow_bg_blck.png);*/
    background-repeat: no-repeat;
    background-position: right top;
}

ul#head_menu li a:hover {
	background-color:#CCCC00;
}
ul#head_menu li a.active {
	background-color:#DFDF00;
        /*background-image: url(images/shadow_bg_wh.png);*/
    background-repeat: no-repeat;
    background-position: right top;

}
#head_menu a.active:hover {
	text-decoration:none;
}

ul#head_menu li#finder {
  color: #696969;
  cursor: pointer;
  padding: 7px;
}

ul#head_menu li#s_menu {
  color: #696969;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
  display: none;
}

ul#head_menu li#s_main a {
  display: none;
}

#header .link_main {
    padding: 0px;
    float: left;

}

#header H1 {
    padding: 0 0 0 0;
    font-family:trebuchet ms, tahoma;
  color: #353535;
  font-size: 11px;
  width: 280px;
  text-align: center
}

#header .user_box {
    padding: 5px 5px 5px 15px;
    margin: 15px 15px 0 15px;
    float: left;
  background-color: #808000;
  width: 485px;
  color: #FFFFFF
}

#header .adv_head {
    margin: 10px 15px 0 15px;
    float: left;
  width: 485px;
  color: #FFFFFF
}

#f_results {
  background-color: #303030;
  width: 200px;
  height: auto;
  position: absolute;
  min-height: 30px;
  padding: 5px;
  top: 53px;
  z-index: 200;
  right: 0px;
   -moz-border-radius-bottomleft: 4px;-moz-border-radius-bottomright: 4px;
  -webkit-border-radius: 0px 0px 8px 8px;border-radius: 0px 0px 8px 8px;
   display: none;
}

.f_text {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin: 1%;
    outline: 0 none;
    padding: 1%;
    width: 96%;
    font-size: 13px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}

/* MENU */

#left_column {
	width:250px;
	padding:2px 0px 0px 5px;
	color:#000;
    background-color: #EFEFEF;
    float: left;
}

.tour_box {
	width:100%;
	padding:0;
    margin-bottom: 20px;
	color:#000;
    float: left;
}

.tour_box h2 {
    display:block;
	width: 100%;
    height: 16px;
    float: left;
	margin:0px 0px 2px 0px;
	padding: 15px 0px;
	color:#D9D900;
	font-family:trebuchet ms, arial;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
    background-color: #000000;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
/*  -moz-border-radius-topleft: 5px;-moz-border-radius-topright: 5px
  -webkit-border-radius: 5px 5px 0px 0px;border-radius: 5px 5px 0px 0px;*/
}

.tour_box ul {
    list-style-type: none;
	margin:0px;
	padding:0px;
    float: left;
    width: 100%;
}

.tour_box ul .menu_main a {
    display:block;
    background-color: #282828;
    margin:0px 0px 1px 0px;
	width: 92%;
    height: 16px;
	color: #ffffff;
	padding: 11px 4% 14px 4%;
	text-decoration: none;
    font-size: 12px;
    text-align: left;
    font-weight: bold;
    border-top: 6px solid #171717;
        /*/*background-image: url(images/shadow_bg_blck.png);*/*/
    background-repeat: no-repeat;
    background-position: right top;
}

.tour_box ul .menu_main a:hover {
    color: #FFFF00;
    background-color: #171717;
}

.tour_box ul .menu_main .active {
    color: #FFFF00;
    background-color: #0D0D0D;
    border-top: 6px solid #3B3B3B;

}

.tour_box .search_box {
  padding:4px;
  text-align: left;
}

#show_players {
  padding: 3px;
  margin-top: 5px;
  color: #FFFFFF
}

#show_players a {
  text-decoration: underline;
  color: #F2F2F2
}

#show_players a:hover {
  text-decoration: none;
  color: #FFFFFF
}

.tour_box input.text {
	width:95%;
	margin:0px;
	background-color:#000000;
	border:2px solid #444444;
	color:#B8B8B8;
	font-family:tahoma;
	font-size:12px;
    padding: 5px;
}

.adv_left {
  text-align: center;
  padding: 0px;
}

/* BODY */
div#body {
	padding:0 5px 5px 5px;
	background-color:#EFEFEF;
    float: left;
    position: relative;
}
#body.full {
	width:635px;
	padding:2px 5px 30px 5px;
    position: relative;
}
#body.full_left {
	width:890px;
	padding:2px 5px 30px 5px;
    font-size: 12px;
    position: relative;

}
div.caption {
	margin:5px 0px 15px 8px;
	color:#f0c00b;
	font-family:arial;
	font-size:18px;
}
div.warning, div.message {
	margin:5px 0px 10px 8px;
	color:#222222;
	font-family:tahoma, verdana;
	font-size:11px;
}
div.warning b, div.message b {
	color:#FD7621;
}
div.bad {
	color:#FE3A01;
	font-weight:bold;
}

#player_box {
    width: 880px;
      background-color: #DADAB6;
      padding: 5px;
      position: relative;
      overflow: auto;
  }

#p_game {
  color: #696969;
  font-size: 11px;
}

div.player_info {
	width: 388px;
  background-color: #DADAB6;
  float: left;
}

div.players_main {
	width: 100%;
  background-color: #DADAB6;
  float: left;
}

div.players_name {
  width: 38%;
  background-color: #808080;
  float: left;
  padding: 1%;
  height: 18px;
}

div.players_name a {
  color: #FFFFFF;
  text-decoration: underline;
  font-size: 14px;
  font-weight: bold
}

div.players_name a:hover {
  text-decoration: none;
}


div.players_h2h {
	width: 18%;
  background-color: #646464;
  float: left;
  height: 18px;
  text-align: center;
  font-size: 16px;
  padding: 1%;
  font-weight: bold;
  color: #FFFFFF
}

div.player_compare {
	width: 100%;
  background-color: #DADAB6;
  float: left;
}

div.player_photoh2h {
	width: 18%;
    padding: 1%;
  background-color: #CECECE;
  float: left;
  height: 170px;
  text-align: center
}

div.player_photo {
	width: 43%;
    padding: 1%;
  background-color: #CECECE;
  float: left;
  height: 170px;
  text-align: center
}
div.player_stats {
	width: 53%;
    padding: 1%;
    margin-bottom: 5px;
  background-color: #8B8B8B;
  min-height: 170px;
  float: left;
}
div.player_comp_info_left {
	width: 18%;
    padding: 1%;
    margin-bottom: 5px;
  background-color: #8B8B8B;
  height: 170px;
  float: left;
  text-align: right
}
div.player_comp_info_right {
	width: 18%;
    padding: 1%;
    margin-bottom: 5px;
  background-color: #8B8B8B;
  height: 170px;
  float: left;
  text-align: left
}
div.player_comp_desc {
	width: 18%;
    padding: 1%;
    margin-bottom: 5px;
  background-color: #808000;
  height: 170px;
  float: left;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold
}
div.player_match_info {
	width: 482px;
  float: left;

}
div.player_matches {
	width: 98%;
  background-color: #DADAB6;
  margin-top: 20px;
  padding: 1%;

}

div.player_matches > h2, div.topmenu_full_stats > h2, div.full > h2, div.rank_block > h2, div.clSiteBox > h2, div.full_block > h2 {
  text-transform: uppercase;  color: #FFFFFF;min-height:31px; line-height:31px; padding: 0px 0px 0px 5px; border-bottom: 8px solid #808000; margin-top:10px; float: inherit;  /* #4EA324 */
}

div.player_matches > h2 span, div.topmenu_full_stats > h2 span, div.full > h2 span, div.rank_block > h2 span, div.clSiteBox > h2 span, div.full_block > h2 span {
font-family: 'Oswald', sans-serif; letter-spacing: 1px;background-color: #808000; padding: 10px 10px 8px 10px;  min-height: 15px; /*border-left: 4px solid #6B6B00;*/ font-size: 13px;
            /*/*background-image: url(images/shadow_bg_wh.png);*/*/
    background-repeat: no-repeat;
    background-position: right top;
      /*-moz-border-radius-topleft: 5px;-moz-border-radius-topright: 5px
  -webkit-border-radius: 5px 5px 0px 0px;border-radius: 5px 5px 0px 0px;*/
}

div.player_msmall > h3 {
  text-transform: uppercase;  color: #FFFFFF;min-height:30px; line-height:31px; padding: 0px 0px 0px 5px; border-bottom: 8px solid #5C5C5C;  /* #4EA324 */
}

div.player_msmall > h3 span {
font-family: 'Oswald', sans-serif; letter-spacing: 1px;background-color: #5C5C5C; padding: 10px 10px 13px 10px;  min-height: 15px; /*border-left: 4px solid #474747;*/
            /*/*background-image: url(images/shadow_bg_wh.png);*/*/
    background-repeat: no-repeat;
    background-position: right top;
      /*-moz-border-radius-topleft: 5px;-moz-border-radius-topright: 5px
  -webkit-border-radius: 5px 5px 0px 0px;border-radius: 5px 5px 0px 0px;*/
}

div.player_tabs_msmall  {
    border-bottom: 5px solid #4C4C4C;
}

div.player_tabs_msmall > h3 {
	color: #ffffff;
	float: left;
	font-weight: normal;
	line-height: 20px;
	margin: 6px 6px 12px;
	min-height: 20px;
	padding: 0;
	text-transform: uppercase; 
}

div.player_tabs_msmall > h3 a {
	background-color: #666666;
	/*background-image: url("images/shadow_bg_wh.png");*/
	background-position: right top;
	background-repeat: no-repeat;
	/*border-left: 4px solid #474747;*/
	/*border-radius: 5px 5px 0 0;*/
	font-family: "Oswald",sans-serif;
	font-size: 11px;
	letter-spacing: 1px;
	min-height: 15px;
	padding: 13px 12px 15px 12px;
	color: wheat;
	text-decoration:none;
	outline: 0;
}

div.player_tabs_msmall > h3 a.active {
	color:yellow;
	background-color: #4C4C4C;
}

#ff_p {
	overflow:hidden;
}

div#sound_on_off {
  float: right;
  height: 30px;
  width: 30px;
  border: 0 none;
  cursor: pointer;
}

div#sound_on_off.on {
  background: rgba(0, 0, 0, 0) url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfhBRIMJzTRV81XAAABMUlEQVQ4y9WTP0sDQRDFf7N3UdBwaS3EJgR7wU6wUpBEC00piI2FikIaGxs/gGhrayEBRXsRbRQU0UIrv0UIJiC53bG4IIZs/lXibLO77z3ezlsG/lEtEfVPznCBcuyDjOcuyyUrOJxPELacBGWKMrnmvqeDssAdOQAc1u8QssYiFlAC8qSaiCUGk0ZdDUxIRNXFSYO3aNty1DgwI+bUlE0WzJZ5MfOJgxJ7k7LEoGPMMS6Pus2w1BMg4trrUGUfZFLeRcWKyrpIp1h/BaIfXGExPHOj2l2QIiRgU/fU6ptO6xkTiUAIPHQhIGSUEkNssMwTMxSSphtUOjwoRZ0SFe5xFMlz3k5K84D7afuw909/MssJDbon0VIxO+xSH3QWinyhHA0iKfDKav90ATJ/NerfNH5qXrNDfbkAAAAASUVORK5CYII=") no-repeat scroll center center;
}

div#sound_on_off.off {
  background: rgba(0, 0, 0, 0) url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfhBRIMLzr+NmpYAAABdUlEQVQ4y9XTPWhTURjG8V9uk9hGTdQqAVGQ6mChUC0WnNwcBHHwAwRdxEHcBFdxDRRa3VqcROjUFt21XUTBpVUEERGxKMUlEKHSJLX3uFxCSrzJJnjO9Bz+z+E97/Me/qN1QbFNjSp0g0vmBQ9b+pCGRX1p+FGLgi1TIG/cgEnBrU40gzGfBEFsMrl9zV2RFW+VOy3n/BTaDAV5jwV7XRFchKybnlmwYN5TzQQPYhWXfHXYuHWP5Hz3xA5KllpQ+45VnFW3JOuFpn5zqvZEgt8pj8977rMRgz7KGfXGPjujHmm8VnTcFwz5hnIvQ1Wfgjr6NZHrZshgRN0PB1BVQi2SSU1wS9GYmhXHsGwY1cimWoqh6aqDZpSdsmrNGe80tiO7vBK32jrhiApuCK4ZsuF+ZzVZ00l4cTJL+33wHhM2nf5bITm3/Wqbpd3uOWHYhlnZtP5c1hA8SFSEVetOduv/ecuut9Sgl+7okUBp28nAv/vqfwAfjnnNV3szSgAAAABJRU5ErkJggg==') no-repeat scroll center center;
}

div.player_msmall {
	width: 48%;
  background-color: #DADAB6;
  margin: 20px 0px 10px 0px;
  padding: 1%;
  float: left;

}

h2.match_stats {
	margin-top: 18px !important;
	border-bottom: 4px solid #808000 !important;	
}

div.player_tabs_msmall {
	width: 100%;
  background-color: #808000;
  margin: 0;
  padding: 1% 1% 0;
  float: left;
}

div.player_msmall h2 {
  background-color: #808080;
  padding: 5px 5px 5px 15px;
  font-size: 11px;
  margin: 5px 0 0 5px;
  font-family: Tahoma, Arial, sans-serif;
  font-weight: bold;
  color: #FFFFFF
}

div.clSiteBox {
  width: 98%;
  background-color: #DADAB6;
  padding: 1%;

}


div.clSiteBox .box_body {
  width: 98%;
  background-color: #F0F0E1;
  padding: 1%;
  border-top: #808000 solid 2px;

}

#body p {
	font-family:verdana;
}
#body p a {
	color:#FD7621;
	font-weight:bold;
	text-decoration:none;
}
#body p a:hover {
	text-decoration:underline;
}
#body ul {
	font-family:verdana;
	font-size:12px;
}
h1.caption {
    margin-top: -15px;
    margin-bottom: 3px;
	color:#f0c00b;
	font-family:arial;
	font-size:18px;
}
h2.caption {
    margin-top: -15px;
    margin-bottom: 3px;
	color:#f0c00b;
	font-family:arial;
	font-size:18px;
}

.main_text {
  padding: 5px;
  margin-bottom: 5px;
  text-align: justify
}

.main_text a:link, a:visited {
  color: #000000;
  text-decoration: underline;
}

.main_text a:hover {
  color: #464646;
  text-decoration: none;
}

#match_list {
	width:100%;
    float: left;
    margin-top: 1px;
    padding: 0px;
    opacity: 1.0;
}

#date_block {
	position:absolute;
	z-index:10;
	right:10px;
 	top:-37px;
    display:block;background-color: #008000; padding: 5px;
    border-bottom: 2px solid #FFFFFF;
    font-size: 12px;
                /*/*background-image: url(images/shadow_bg_wh.png);*/ */
    background-repeat: no-repeat;
    background-position: right top;
}

#date_block a {
  color: #FFFFFF
}

#date_block_hid {
	position:absolute;
	z-index:10;
	right:10px;
	top:-37px;
    display:block;background-color: #008000;
    padding: 5px;
        border-bottom: 2px solid #008000;

    font-size: 12px;
}

#date_block_hid a {
  color: #FFFFFF
}

.tour_main {
  width: 655px;
  padding: 5px;
  background-color: #808040;
  margin: 2px 0 0 0;
  font-size: 10px;
  color: #F0F0F0;
  float: left;
}

.tour_main a {
  text-decoration: underline;
  color: #424200
}

.tour_main a:hover {
  text-decoration: none;
  color: #222200
}

/* TOP MENU */
ul#topmenu {
	width:530px;
	padding:0px 5px 0px 5px;
	background-color:#A65300;
	border-bottom:3px solid #753A00;
	color:#FFFFFF;
    float: left;
    list-style-type: none;
    margin: 0px;
}

#topmenu a {
	display:block;
	float:left;
	padding:3px 5px 3px 5px;
	border-right:1px solid #753A00;
	color:#FFFFFF;
	text-decoration:none;
    font-size: 11px;
}

#topmenu a:hover {
	background-color:#D7620B;
	text-decoration:underline;
}
#topmenu a.active {
	background-color:#753A00;
	border-left:1px solid #FFAE5E;
}
#topmenu a.active:hover {
	text-decoration:none;
}

ul#topmenu_small {
	width:534px;
	padding:3px 3px 3px 3px;
	background-color:#753A00;
	color:#FFFFFF;
    float: left;
    list-style-type: none;
    margin: 0px;
}

#topmenu_small a {
	display:block;
	float:left;
	padding:3px 5px 3px 5px;
	color:#FFFFFF;
	text-decoration:none;
    font-size: 11px;
	background-color:#5B2E00;
    margin: 3px;
}

#topmenu_small a:hover {
	background-color:#D7620B;
	text-decoration:underline;
}
#topmenu_small a.active {
	background-color:#FF860D;
}
#topmenu_small a.active:hover {
	text-decoration:none;
}



/*TOP MNEU FULL*/
ul#topmenu_full {
	width:98%;
    font-family: 'Oswald', sans-serif;
	padding:1% 1% 0 1%;
	background-color:#DFDF00;
	border-bottom:7px solid #6C6C00;
	color:#FFFFFF;
    list-style-type: none;
    margin: 0px 0px 2px 0px;
    height: 45px;
}

ul#topmenu_full li {
    margin: 0px;
    padding: 0px;
    float:left;
}

ul#topmenu_full li a {
	position: relative;
	height: 16px;
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 13px;
	padding: 11px 10px 15px 10px;
	text-align: center;
    letter-spacing: 1px;
    margin-left: 1px;
    text-transform: uppercase;
    background-color: #B3B300;
    border-top: #DFDF00 solid 3px;
    /*/*background-image: url(images/shadow_bg_wh.png);*/*/
    background-repeat: no-repeat;
    background-position: right top;
}

ul#topmenu_full li a:hover {
	background-color:#CCCC00;
}
ul#topmenu_full li a.selected {
	background-color:#6C6C00;
	outline:0 none;
}



/*TOP MNEU FULL STATS*/


#topmenu_full_stats a {
	display:block;
	float:left;
	padding:7px 5px 3px 5px;
	border-right:1px solid #FFFFFF;
	color:#FFFFFF;
	text-decoration:none;
    font-size: 11px;
    height: 16px;
  background-color: #B3B300
}

#topmenu_full_stats a:hover {
	background-color:#CCCC00;
}
#topmenu_full_stats a.selected {
	background-color:#6C6C00;
	border-left:1px solid #FFAE5E;
}

#topmenu_full_stats a.date_box {
	background-color:#2F2F00;
    margin: 0 0 0 350px;
}

.head2head a:link, .head2head a:visited {
    font-family: 'Oswald', sans-serif; letter-spacing: 1px;
    padding: 1px;

	float: left;
	background-color: #696969;
	color: #FFFFFF;
    /*/*background-image: url(images/shadow_bg_wh.png);*/*/
    background-repeat: no-repeat;
    background-position: right top;
}

.head2head a:hover {
  background-color: #808000
}

a.star {
	width:20px;
	height:20px;
  background: rgba(0, 0, 0, 0) url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABOElEQVQ4ja2UoU7DQBzGf2KioqICgZjYA1RUIgiZRC6kbpAgEOB4gIkmewAEYpIHQCAQiImJScTEHgAxMYlELOQQ/6/ZjcD1mu1LLundfffr13/vDuLUifRF6xWYHgp2AXwDDrg6BHAGfAJrYLEvrMCSVcC9nvv7AF+wdBmQYClnbQAJkAMDYOSlq1WnHMuTa82OcuwPrmT221Lp/Bcu/vCtxDgFq8lGExPgBjgBjgJfkslzDTx64LI2lILOgTQA+q1UaxxWjh21hQZhbaFJDKzWrYyXAU8pz6gJBjCU+TzgOZPnLgZYyexvly7Q8/qpPA8xwGdsXwEca9EXVtuJxgA+gLcY4BIreCWQA57UnMbG8qybYB22m9wpQeHNF9j59k9JRkCZErwTvlX62CWxYVuCfxU6co36AQ3eWsVd6H9lAAAAAElFTkSuQmCC") no-repeat scroll center center;
  display:inline-block;
  opacity:0.1;
  margin:4px 3px 0 3px;
  outline:0 none;
}

a.star:hover {
	opacity:1;
}

a.isstar {
  background: rgba(0,0,0,0) url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4goXCRElByqrdgAAAZNJREFUOMtjYCAC/P7YysJAJGAiRtG/n3vX/3xpt5uBGuDXu7ygH0+4//94wv3/17vMWIpd+P/3uVw4+9eJIopc9/tDhQHMdTD8+32xA9ku/PfrbD2m2Ml6fHoY0WKTg+H/Z5X//7+pMPz7oPPv+9pmrK7gCGhhYBY+y8jIdYeBkfcOK3/1D7iBvz9U6Pz7eaz//9+nGgz/XsiQFTZMEk8YmaVvMLGZNbIw/P8t8v/3WReKAvvfC5n//17I/GfVm8nEKth7gIkrMZTS5MXEGV7IJjRlDSMiveWE/Ps2fzXZhgnPm4ARKeQYimwYRrJhE5qyhokrOpN4w4JrkQ3DkQ5ZPhPtPEb2t4QT9v9PqsTH7gc1ggb+//tam4FJ4glBw5ilH/z/+1qDsAv/PtdgZBZ7gOozpwWM7E4LIDz2HwwMDAyMTMJP/v99YECwIP3xhO83rCD4+dJh++8PFQbIhcXPV67rUQqLj40CeAxsFPjxROj7zxcmp/GVKr/fFzv8fGmz/8cTvt+/P9RLECiy6kQoyTEAS4DHOYBRIL4AAAAASUVORK5CYII=') no-repeat scroll center center;
  opacity: .6;
}

/*TIMEZONE box block*/
.dd_tz {width:150px; height:20px; position:relative; font-size:12px; z-index:100;}
.dd_tz ul li a, .menu ul li a:visited {display:block; text-decoration:none; color:#000;width:130px; height:20px; text-align:left; padding-left: 8px; color:#fff; border-bottom:2px solid #fff; line-height:20px; font-size:11px; overflow:hidden;}
.dd_tz ul {padding:0; margin:0; list-style: none;}
.dd_tz ul li {float:left; position:relative;}
.dd_tz ul li ul {display: none;}

/* specific to non IE browsers */
.dd_tz ul li:hover a {color:#fff; }
.dd_tz ul li:hover ul {display:block; position:absolute; top:21px; left:0; width:105px;}
.dd_tz ul li:hover ul li a.hide {background:#6a3; color:#fff;}
.dd_tz ul li:hover ul li:hover a.hide {background:#6fc; color:#000;}
.dd_tz ul li:hover ul li ul {display: none;}
.dd_tz ul li:hover ul li a {display:block; background:#ddd; color:#000;}
.dd_tz ul li:hover ul li a.active {background:#5F5F5F; color:#ffffff}
.dd_tz ul li:hover ul li a:hover {background:#DFDF00; color:#ffffff;}
.dd_tz ul li:hover ul li:hover ul {display:block; position:absolute; left:105px; top:0;}
.dd_tz ul li:hover ul li:hover ul.left {left:-105px;}

/*DATE box block*/
.dd_db {width:90px; height:15px; position:relative; font-size:12px; z-index:100;display:block;background-color: #008000; padding: 5px}
.dd_db ul li a, .menu ul li a:visited {display:block; text-decoration:none; color:#000; width:80px; height:20px; text-align:left; padding-left: 8px; color:#fff; border-bottom:2px solid #fff; line-height:20px; font-size:11px; overflow:hidden ; background-color: #008000 }


#show_calendar {
    width:295px;
    float: right;
    background-color: #008000;
    margin-top: 5px;
    padding: 5px;
    position: absolute;
    right: 5px;
    top: -16px;
    z-index: 1500;
}

#show_calendar a {
  color: #000000
}

#show_calendar .act {
  background-color: #008000;
  color: #FFFFFF
}

#show_calendar .act a {
  color: #FFFFFF
}

#show_calendar .tod {
  background-color: #FF0000
}

#show_calendar .tod a {
  color: #FFFFFF
}

#show_calendar .today {
  text-align: right;
  padding-right: 3px;
}

#show_calendar .today a {
  color: #FFFFFF
}

.live_match {
  padding: 1px 2px;
  background-color: #CC0000;
  color: #FFFFFF;
  font-family: 'Oswald', sans-serif; letter-spacing: 1px;
  font-size: 10px;
              /*/*background-image: url(images/shadow_bg_wh.png);*/*/
    background-repeat: no-repeat;
    background-position: right top;
}

table.cal_table {
	width:294px;
	padding:0px 5px 0px 5px;
    margin-bottom: 10px;
    border-collapse:collapse;
  text-align: center;
  color: #262626;
  font-size: 12px;
}

.cal_table td {
	padding:3px;
	background-color:#D2D2D2;
	border:1px solid #FFFFFF;
                  /*/*background-image: url(images/shadow_bg_blck.png);*/*/
    background-repeat: no-repeat;
    background-position: right top;
}

.cal_table th {
	padding:2px;
	background-color:#838383;
	border:1px solid #FFFFFF;
    /*/*background-image: url(images/shadow_bg_wh.png);*/ */
    background-repeat: no-repeat;
    background-position: right top;
}

table.cal_table a {
  color: #707070
}

#item_list {
    padding: 5px;
    margin-top: 50px
}

#item_list dt {
	font-size: 11px;
	text-align: left;
    padding: 3px;
}

table.stats_info {
	width:717px;
	padding:0px 5px 0px 5px;
    margin-bottom: 10px;
    border-collapse:collapse;
}

.stats_info td {
	padding:10px;
	background-color:#D2D2D2;
	border:1px solid #FFFFFF;
}

.stats_info .team_name td {
	background-color:#707070;
    border-bottom: #3B3B3B solid 2px;
  color: #E6E6E6
}

.stats_info .unpair td {
	background-color:#E0E0E0;
}
.stats_info .pair td {
	background-color:#C7C7C7;
}
.stats_info .result_OK {
	background-color:#A6E2FF;
  text-align: center
}
.stats_info .result_KO {
	background-color:#FFB0B0;
  text-align: center
}
.stats_info .result_draw {
	background-color:#888888;
  text-align: center
}





/* FOOTER */
div#footer {

	width:890px;
    margin-left: 3px;
	padding:3px 5px 4px 5px;
	border-top:1px solid #83AE00;
	color:#FFFFFF;
    float:left;
  background-color: #484848;
  border-top: solid 14px #2C2C2C;
}
#footer.full {
	width:650px;
}
#footer a {
	color:#EAEAEA;
	text-decoration:underline;
}
#footer a:hover {
	text-decoration:none;
}

#footer .left_fo {
	float: left;
    padding: 5px;
    width: 120px;
  text-align: center;
  vertical-align: middle;
  height: 50px
}

#footer .right_fo {
	float: left;
    padding: 8px;
    width: 744px;
  text-align: justify
}


/* Formulare */
table.forms {
	width:100%;
	background-color:#EFEFEF;
}
.forms.online td {
	padding:3px 2px 3px 2px;
}
.forms td {
	padding:2px;
	color:#333333;
}
.forms .header td {
	padding:2px;
	border-bottom:1px solid #FFFFFF;
	color:#FFFFFF;
	font-family:trebuchet ms, arial;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
}
.forms #users.header td {
	background-color:#666666;
}
.forms .header.add td {
	background-color:#F0C00B;
}
.forms .header.discussion td {
	background-color:#FFA205;
}
.forms .yellow td {
	background-color:#F0C00B;
}
.forms .livelinkstennis {
	background-color:#FFFFFF;
}
.forms .livelinksbaseball {
	background-color:#FFFFFF;
}
.forms .livelinksbasketball {
	background-color:#FFFFFF;
}
.forms .livelinksfootball {
	background-color:#FFFFFF;
}
.forms .livelinkshandball {
	background-color:#FFFFFF;
}
.forms .livelinkshockey {
	background-color:#FFFFFF;
}
.forms .livelinksclubs {
	background-color:#F2AC09;
}
.forms .header a {
	color:#FFFFFF;
	text-decoration:none;
}
.forms .header a:hover {
	color:#FFFFFF;
	text-decoration:underline;
}
.forms img {
	border:none;
}
.forms .header td.left {
	width:5px;
	padding:0px;
}
.forms .header td.right {
	width:5px;
	padding:0px;
}
.forms tr.error td {
	padding:5px 2px 5px 2px;
	border-bottom:1px solid #FFFFFF;
}
.forms .error td b {
	color:#FF6600;
	font-weight:bold;
}
.forms td img {
	margin:0px 2px 0px 2px;
	vertical-align:middle;
}
.forms .unpair td, .forms .pair td {
	color:#000000;
}
.forms .unpair td {
	background-color:#DFDFDF;
}
.forms .border_top td {
	border-top:1px solid #FFFFFF;
}
.forms td.subcaption {
	color:#D30000;
	vertical-align:middle;
	font-size:12px;
	font-weight:bold;
}
.forms tr.footer td {
	padding:5px 2px 5px 2px;
	border-top:1px solid #D7D7D7;
}
.forms input.text {
	width:170px;
	font-family:tahoma;
	font-size:11px;
}
.forms input.checkbox {
	vertical-align:middle;
}
.forms select {
	width:175px;
	height:20px;
	font-family:tahoma;
	font-size:11px;
}
.forms .time select {
	width:40px;
}
.forms textarea {
	width:100%;
	font-family:tahoma;
	font-size:11px;
}
.forms input.submit {
	margin:3px 0px 3px 0px;
	padding:1px 10px 1px 10px;
	font-family:tahoma;
	font-size:11px;
}

/* MAILING LIST > Odosielanie mailov */
.forms.send .header td {
	background-color:#F0C00B;
}

/* KONTAKT */
.forms.contact .header td {
	background-color:#F0C00B;
}
.forms.contact img {
	vertical-align:middle;
}
.forms.contact td a {
	color:#FF6600;
	font-weight:bold;
	text-decoration:none;
}
.forms.contact td a:hover {
	color:#F0C00B;
	text-decoration:underline;
}

/* ODKAZY */
.forms.links td a {
	color:#FF6600;
	font-weight:bold;
	text-decoration:none;
}
.forms.links td a:hover {
	color:#F0C00B;
	text-decoration:underline;
}


/* Register */
table.register {
	width:100%;
	background-color:#EFEFEF;
}
.register td {
	padding:2px;
	color:#333333;
}
.register .header td {
	padding:4px 2px 4px 3px;
	background-color:#F0C00B;
	border-bottom:1px solid #FFFFFF;
	color:#FFFFFF;
	font-family:arial;
	font-size:12px;
	text-transform:uppercase;
}
.register .header td.left {
	width:5px;
	padding:0px;
}
.register .header td.right {
	width:5px;
	padding:0px;
}
.register tr.error td {
	padding:5px 2px 5px 2px;
	border-bottom:1px solid #C9C9C9;
}
.register tr.footer td {
	padding:5px 2px 5px 2px;
	border-top:1px solid #C9C9C9;
}

.register input.text {
	width:150px;
	font-family:tahoma;
	font-size:11px;
}
.register select {
	width:155px;
	height:20px;
	font-family:tahoma;
	font-size:11px;
}
.register input.submit {
	margin:3px 0px 3px 0px;
	padding:1px 10px 1px 10px;
	font-family:tahoma;
	font-size:11px;
}





/*************************NEW*/
/* FORMATOVANIE TEXTU */
.b {
	font-weight:bold;
}






/* HLASENIA */
div.notification {
	position:relative;
	height:58px;
	margin-bottom:5px;
	background-color:#EBEBEB;
	border:1px solid #D8D8D8;
}
.notification img {
	position:absolute;
	top:5px;
	left:10px;
}
.notification div {
	position:absolute;
	top:5px;
	left:80px;
}
.notification div span {
	display:block;
	margin-bottom:5px;
	color:#666666;
	font-weight:bold;
}

div.notification_wi {
	position:relative;
	height:58px;
	margin-bottom:20px;
	background-color:#EBEBEB;
	border:1px solid #D8D8D8;
}
.notification_wi div {
	position:absolute;
	top:5px;
	left:10px;
}

.notification_wi div span {
	display:block;
	margin-bottom:5px;
	color:#666666;
	font-weight:bold;
}

/* ZAKLADNY STYL TABULIEK */
table.table {
	width:100%;
	border-collapse:collapse;
    font-size: 12px;
    opacity:1.0;
}
.table td {
	padding:2px 4px 2px 4px;
	height:26px;
	background-color:#E8E8E8;
	border:1px solid #FFFFFF;
}
.table td img {
	vertical-align:middle;
    padding: 0.01em;
}
.table .caption td {
	background-color:#7A7A7A;
	color:#FFFFFF;
	font-family:trebuchet ms, arial;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
}
.table .header td {
	background-color:#555555;
    color: #FFFFFF;
                /*/*background-image: url(images/shadow_bg_blck.png);*/*/
    background-repeat: no-repeat;
    background-position: right top;
}

.table .header .sus {
  background-color: #919191;
  color: #CACACA
}

.table .header .sus a {
  color: #D8D8D8
}

.table .unpair td {
	background-color:#E8E8E8;

}
.table .pair td {
	background-color:#C9C9C9;

}
.table .footer td {
	background-color:#FAC905;
	border-left-width:0px;
	border-right-width:0px;
}
.table input.text {
	width:150px;
	font-family:tahoma;
	font-size:11px;
}
.table select {
	width:155px;
	height:20px;
	font-family:tahoma;
	font-size:11px;
}
.table input.submit, .table button.submit {
	margin:3px 0px 3px 0px;
	padding:1px 10px 1px 10px;
	font-family:tahoma;
	font-size:11px;
	vertical-align:middle;
}
.table img {
	border-width:0px;
}

.table .tour {
    padding: 0 0 0 10px;
}

.table .tour a {
  color: #E6E6E6
}

.table .tour a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.table .match a {
  color: #000000
}

.table .match a:hover {
  color: #151515;
  text-decoration: none;
}


.table .beg {
    width: 12%;
  text-align: center
}

.table .set  {
    width: 6.5%;
    text-align: center
}

.table .fift  {
    width: 5.5%;
    text-align: center;
  color: #919148
}

.table .detail {
    width: 5%;
    text-align: left;
    vertical-align: top;
}

.table .pair .act  {
  color: #BF0000;
}

.table .unpair .act  {
  color: #BF0000;
}

.table .pair .bold_s  {
  font-weight: bold
}

.table .unpair .bold_s  {
  font-weight: bold
}

.table .pair .chng  {
  background-color: #FFFFB7;
}

.table .unpair .chng  {
  background-color: #FFFFB7;
}

.table .pair .fchng  {
  background-color: #D7D7B0;
  color: #686833
}

.table .unpair .fchng  {
  background-color: #D7D7B0;
  color: #686833
}

.L_round {
  color: #9A9A9A
}

.table .pair .sus {
  background-color: #D8D8D8;
  color: #ACACAC
}

.table .pair .sus a {
  color: #8B8B8B
}

.table .unpair .sus {
  background-color: #D8D8D8;
  color: #ACACAC
}

.table .unpair .sus a {
  color: #8B8B8B
}




/*TABLE STATS*/
table.table_stats {
	width:99%;
	border-collapse:collapse;
    margin-left: 1%;
}
.table_stats td {
	padding:1%;
	background-color:#E8E8E8;
	border:1px solid #FFFFFF;
    width: 12.25%;
    text-align: center
}
.table_stats td img {
	vertical-align:middle;
    padding: 0.01em;
}
.table_stats .caption td {
	background-color:#7A7A7A;
	color:#FFFFFF;
	font-family:trebuchet ms, arial;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
}
.table_stats .header td {
	background-color:#555555;
    color: #FFFFFF;
}
.table_stats .unpair td {
	background-color:#E8E8E8;
}
.table_stats .pair td {
	background-color:#C9C9C9;
}
.table_stats .footer td {
	background-color:#A3A3A3;
}

.table_stats .footer1 td {
	background-color:#676767;
}

.table_stats .pair .stats_active {
	background-color:#FAC905;
}

.table_stats .unpair .stats_active {
	background-color:#FAC905;
}

.table_stats .pair .stats_active_sum {
	background-color:#C09A03;
}

.table_stats .unpair .stats_active_sum {
	background-color:#C09A03;
}

.table_stats .footer .stats_active_sum {
	background-color:#C09A03;
}

.table_stats .header a {
    color: #FFFFFF;
}

.table_stats a:hover {
	text-decoration:none;
}

/*TABLE MATCH PLAYER*/
table.table_pmatches {
	width:99.9%;
	border-collapse:collapse;
    font-size: 12px;
    margin-bottom: 15px;
}
.table_pmatches td {
	padding:5px 4px 5px 4px;
	background-color:#E8E8E8;
	border:1px solid #FFFFFF;
}
.table_pmatches td img {
	vertical-align:middle;
    padding: 0.01em;
}
.table_pmatches .caption td {
	background-color:#7A7A7A;
	color:#FFFFFF;
	font-family:trebuchet ms, arial;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
}
.table_pmatches .header td {
	background-color:#555555;
    color: #FFFFFF;
}
.table_pmatches .tour_head td {
    border-top: solid #999999 7px;
}
.table_pmatches .unpair td {
	background-color:#E8E8E8;
}
.table_pmatches .pair td {
	background-color:#D6D6D6;
}

.table_pmatches .unpair .surf_1 {
	background-color:#00354F;
    text-align: center;
  color: #001A33;
              /*/*background-image: url(images/shadow_bg_blck.png);*/*/
    background-repeat: no-repeat;
    background-position: right top;
}
.table_pmatches .pair .surf_1 {
	background-color:#00354F;
  text-align: center;
  color: #001A33;
              /*/*background-image: url(images/shadow_bg_blck.png);*/*/
    background-repeat: no-repeat;
    background-position: right top;
}

.table_pmatches .unpair .surf_2 {
	background-color:#D47340;
    text-align: center;
  color: #9F5000;
              /*/*background-image: url(images/shadow_bg_wh.png);*/*/
    background-repeat: no-repeat;
    background-position: right top;
}
.table_pmatches .pair .surf_2 {
	background-color:#D47340;
  text-align: center;
  color: #9F5000;
              /*/*background-image: url(images/shadow_bg_wh.png);*/*/
    background-repeat: no-repeat;
    background-position: right top;
}

.table_pmatches .unpair .surf_3 {
	background-color:#4FA7FF;
    text-align: center;
  color: #007BB7;
              /*/*background-image: url(images/shadow_bg_wh.png);*/*/
    background-repeat: no-repeat;
    background-position: right top;
}
.table_pmatches .pair .surf_3 {
	background-color:#4FA7FF;
  text-align: center;
  color: #007BB7;
              /*/*background-image: url(images/shadow_bg_wh.png);*/*/
    background-repeat: no-repeat;
    background-position: right top;
}


.table_pmatches .unpair .surf_4 {
	background-color:#FFC993;
    text-align: center;
  color: #FF8040;
              /*/*background-image: url(images/shadow_bg_wh.png);*/*/
    background-repeat: no-repeat;
    background-position: right top;
}
.table_pmatches .pair .surf_4 {
	background-color:#FFC993;
  text-align: center;
  color: #FF8040;
              /*/*background-image: url(images/shadow_bg_wh.png);*/*/
    background-repeat: no-repeat;
    background-position: right top;
}


.table_pmatches .unpair .surf_5 {
	background-color:#008000;
    text-align: center;
  color: #004600;
              /*/*background-image: url(images/shadow_bg_wh.png);*/ */
    background-repeat: no-repeat;
    background-position: right top;
}
.table_pmatches .pair .surf_5 {
	background-color:#008000;
  text-align: center;
  color: #004600;
              /*/*background-image: url(images/shadow_bg_wh.png);*/*/
    background-repeat: no-repeat;
    background-position: right top;
}


.table_pmatches .unpair .surf_6 {
	background-color:#FF8000;
    text-align: center;
                /*/*background-image: url(images/shadow_bg_wh.png);*/*/
    background-repeat: no-repeat;
    background-position: right top;
}
.table_pmatches .pair .surf_6 {
	background-color:#FF8000;
  text-align: center;
              /*background-image: url(images/shadow_bg_wh.png);*/
    background-repeat: no-repeat;
    background-position: right top;
}

.table_pmatches .footer td {
	background-color:#A3A3A3;
}

.table_pmatches .footer1 td {
	background-color:#676767;
}

/*TABLE MATCH PLAYER SMALL*/
table.table_pmatches_s {
	width:100%;
	border-collapse:collapse;
}
.table_pmatches_s td {
	padding:5px 4px 5px 4px;
	background-color:#E8E8E8;
	border:1px solid #FFFFFF;
}
.table_pmatches_s td img {
	vertical-align:middle;
    padding: 0.01em;
}
.table_pmatches_s .caption td {
	background-color:#7A7A7A;
	color:#FFFFFF;
	font-family:trebuchet ms, arial;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
}
.table_pmatches_s .header td {
	background-color:#555555;
    color: #FFFFFF;
}
.table_pmatches_s .tour_head td {
    border-top: solid #999999 7px;
  background-color: #B2B2B2
}
.table_pmatches_s .unpair td {
	background-color:#E8E8E8;
}
.table_pmatches_s .pair td {
	background-color:#D6D6D6;
}

.table_pmatches_s .unpair .surf_1 {
	background-color:#00354F;
    text-align: center;
  color: #001A33
}
.table_pmatches_s .pair .surf_1 {
	background-color:#00354F;
  text-align: center;
  color: #001A33
}

.table_pmatches_s .unpair .surf_2 {
	background-color:#D47340;
    text-align: center;
  color: #9F5000
}
.table_pmatches_s .pair .surf_2 {
	background-color:#D47340;
  text-align: center;
  color: #9F5000
}

.table_pmatches_s .unpair .surf_3 {
	background-color:#4FA7FF;
    text-align: center;
  color: #007BB7
}
.table_pmatches_s .pair .surf_3 {
	background-color:#4FA7FF;
  text-align: center;
  color: #007BB7
}


.table_pmatches_s .unpair .surf_4 {
	background-color:#FFC993;
    text-align: center;
  color: #FF8040
}
.table_pmatches_s .pair .surf_4 {
	background-color:#FFC993;
  text-align: center;
  color: #FF8040
}


.table_pmatches_s .unpair .surf_5 {
	background-color:#008000;
    text-align: center;
  color: #004600
}
.table_pmatches_s .pair .surf_5 {
	background-color:#008000;
  text-align: center;
  color: #004600
}


.table_pmatches_s .unpair .surf_6 {
	background-color:#FF8000;
    text-align: center
}
.table_pmatches_s .pair .surf_6 {
	background-color:#FF8000;
  text-align: center
}

.table_pmatches_s .footer td {
	background-color:#A3A3A3;
}

.table_pmatches_s .footer1 td {
	background-color:#676767;
}

/*TABLE MATCH STATS*/
table.table_stats_match {
	width:100%;
	border-collapse:collapse;
	display:none;	
}                        
table.table_stats_match:last-of-type {
	display:table;
}
.table_stats_match td {
	padding:5px 4px 5px 4px;
	background-color:#E8E8E8;
	border:1px solid #FFFFFF;
}
.table_stats_match .tour_head td {
  border-top: solid #999999 7px;
  background-color: #ADADAD;
  text-align: center
}

.table_stats_match .info_txt {
  background-color: #D3D3D3;
  padding: 1%;
  text-align: right;
  color: #5B5B5B
}

.table_stats_match .mp_tour_head td {
  /*border-top: solid #999999 7px;*/
	border-top: 7px solid #757575;
  background-color: #ADADAD;
  text-align: center;
  font-size: 15px;
  color: #FFFFFF
}

.table_stats_match .mp_info_txt {
  background-color: #B5B5B5;
  padding: 1%;
  text-align: center;
  color: #303030;
  font-weight: bold
}

.table_stats_match .mp_15 {
  background-color: #EDEDED;
  padding: 0.5%;
  text-align: center;
  color: #707070;
  font-size: 12px;
}

.table_stats_match .mp_serve {
  background-color: #D3D3D3;
  text-align: center;
  color: #707070;
}

/*TABLE RANKING*/
table.table_pranks {
	width:100%;
	border-collapse:collapse;
    float: left;
}
.table_pranks td {
	padding:5px 4px 5px 4px;
	background-color:#E8E8E8;
	border:1px solid #FFFFFF;
}
.table_pranks td img {
	vertical-align:middle;
    padding: 0.01em;
}
.table_pranks .caption td {
	background-color:#7A7A7A;
	color:#FFFFFF;
	font-family:trebuchet ms, arial;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
}
.table_pranks .header td {
	background-color:#555555;
    color: #FFFFFF;
}
.table_pranks .tour_head td {
    border-top: solid #999999 7px;
}
.table_pranks .unpair td {
	background-color:#E8E8E8;
}
.table_pranks .pair td {
	background-color:#D6D6D6;
}

/*TABLE CONTACT*/
table.table_contact {
	width:630px;
	border-collapse:collapse;
    float: left;
    margin-top: 10px;
}

.date_sel_box {
  margin: 1%;
  background-color: #808000;
  padding: 1%;
  width: 96%;
  color: #FFFFFF;
    font-size: 12px;
      font-family: 'Oswald', sans-serif; letter-spacing: 1px;
     text-transform: uppercase;

}

select#rankD {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   padding: 3px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 150px;
   font-size: 12px;
}


.rank_block {
    float: left;
    margin: 0px;
  background-color: #DADAB6;
  padding: 1%;
  width: 48%;
}



.rank_block select {
  margin: 11px 0 0 2px;
  padding: 4px;
}

.full_block {
    float: left;
    margin: 0px;
  background-color: #DADAB6;
  padding: 1%;
  width: 98%;
  text-align: justify;
}


.full_block .fb_txt {
  background-color: #E1E1E1;
  border-top: solid 2px #808000;
  width: 98%;
  padding: 1%;
  float: left;

}

.cntr {
  text-align: center
}


.w16 {
    width: 3%; /*16px;*/
}

.w20 {
    width: 20px;
}

.w40 {
    width: 5%; /*40px; */
}

.w42 {
    width: 42px;
}

.w50 {
    width: 7%; /*50px;*/
}

.w100 {
    width: 100px;
}

.w130 {
    width: 20%; /*130px;*/
}

.w150 {
    width: 150px;
}

.w200 {
    width: 200px;
}

.table_pmatches a:hover {
	text-decoration:none;
}

/* FILTER */
table.forms.filter {
	border-top:1px solid #E2E2E2;
	border-bottom:1px solid #E2E2E2;
}
.forms.filter a {
	color:#555555;
	text-decoration:none;
}
.forms.filter a:hover {
	color:#D90000;
	text-decoration:underline;
}




/* SUKROMNE */
.table .unread {
	color:#FF6600;
	font-weight:bold;
}
.table .read a {
	color:#666666;
	font-weight:bold;
	text-decoration:none;
}
.table .unread a {
	color:#FF6600;
	text-decoration:none;
}
.table .read a:hover, .table .unread a:hover {
	text-decoration:underline;
}



/* Ciselniky */
.codes img {
	vertical-align:middle;
}
.codes a {
	color:#333333;
	text-decoration:none;
}
.codes a:hover {
	color:#FF3300;
	text-decoration:underline;
}









/*** VSEOBECNE STYLY ***/
.l {
    text-align: left;
}
.c {
    text-align: center;
}
.r {
    text-align: right
}
.s {
    font-weight: bold;
}
img {
    vertical-align: middle;
}
div.line {
    margin-top: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #DADADA;
}
form {
    margin: 0px;
}
form input, form select, form button {
    font-family: tahoma;
    font-size: 11px;
}
form select {
    width: auto;
}

form input .effect {
  font-size: 11px;
  border: #9D4F00 solid 1px;
}



/*** ZAKLADNA TABULKA ***/
.tab_1 {
    margin: 5px 0px 15px 0px;
    width: 100%;
    border-collapse: collapse;
}
.tab_1 td {
    padding: 2px 5px;
    border-top: 1px solid #FFFFFF;
    color: #4C4C4C;
    vertical-align: middle;
}

    /* HLAVICKA */
    .tab_1 thead td {
        background-color: #BFBFBF;
        color: #FFFFFF;
        font-weight: bold;
    }
    .tab_1 thead td:hover {
        background-color: #AFAFAF;
    }
    .tab_1 thead .caption td {
        padding-top: 3px;
        padding-bottom: 3px;
    }
    .tab_1 thead .line td {
        padding: 2px 0px 1px 0px;
        border-top: none;
    }
    .tab_1 thead a {
        border-bottom: 1px solid #FFFFFF;
        color: #FFFFFF;
        text-decoration: none;
    }

    /* FARABNE STYLY PRE HLAVICKU */
    .tab_1 thead.red .caption td {
        background-color: #FF7D00;
        color: #681D00;
    }
    .tab_1 thead.red .line td {
        background-color: #DE6D00;
    }
    .tab_1 thead.yellow .caption td {
        background-color: #FFC700;
        color: #4C3B00;
    }
    .tab_1 thead.yellow .line td {
        background-color: #E0AF00;
    }
    .tab_1 thead.green .caption td {
        background-color: #008000;
        color: #C9F042;
    }
    .tab_1 thead.green .line td {
        background-color: #003E00;
    }
    .tab_1 thead.olive .caption td {
        background-color: #808040;
        color: #263003;
    }
    .tab_1 thead.olive .line td {
        background-color: #4E4E27;
    }
    .tab_1 thead.teal .caption td {
        background-color: #BC7878;
        color: #5C2E2E;
    }
    .tab_1 thead.teal .line td {
        background-color: #AE5E5E;
    }
    .tab_1 thead.gray .caption td {
        background-color: #C2E0E0;
        color: #2F5E5E;
    }
    .tab_1 thead.gray .line td {
        background-color: #8DC7C7;
    }
    .tab_1 thead.silver .caption td {
        background-color: #C9C9C9;
        color: #3E3E3E;
    }
    .tab_1 thead.silver .line td {
        background-color: #A0A0A0;
    }
    .tab_1 thead.blue .caption td {
        background-color: #9AC6E7;
        color: #06274F;
    }
    .tab_1 thead.blue .line td {
        background-color: #88AFCC;
    }
    
    /* TELO */
    .tab_1 tbody .light {
        background-color: #F0F0F0;
    }
    .tab_1 tbody .dark {
        background-color: #E6E6E6;

    }
    .tab_1 .txt_analyse {
        background-color: #E6E6E6;
        padding: 25px;
          text-align: justify;
          width: 100%;
    }
    .tab_1 .txt_analyse img {
    padding: 5px;
    }
    .tab_1 tbody.hover .light:hover, .tab_1 tbody.hover .dark:hover {
        background-color: #FFFFFF;
    }
    .tab_1 tbody .divider {
        padding: 1px 0px;
        background-color: #BFBFBF;
    }
    .tab_1 .no_border td, .tab_1 td.no_border {
        border: none;
    }
    .tab_1 tbody span {
        color: #909090;
    }
    .tab_1 tbody a {
        padding:0px 1px;
        border-bottom: 1px solid #909090;
        color: #444444;
        text-decoration: none;
    }
    .tab_1 tbody a:hover {
        background-color: #E6E6E6;
        color: #D90000;
    }
    .tab_1 tbody a.ext {
        padding-right: 11px;
        background-image: url('../images/ext_link.gif');
        background-repeat: no-repeat;
        background-position: right center;
    }
    .tab_1 tbody .no_link_border a {
        border-bottom: none;
    }
    .tab_1 tbody .no_link_background a:hover {
        background-color: transparent;
    }
    .tab_1 tbody a.no_style, .tab_1 tbody a.no_style:hover { border-bottom: 0 none; background-color: transparent; }
    
    /* PATA */
    .tab_1 tbody.tfoot {
        background-color: #BFBFBF;
        color: #FFFFFF;
        font-weight: bold;
    }
    .tab_1 tbody.tfoot:hover {
        background-color: #AFAFAF;
    }
    .tab_1 tbody.tfoot a {
        color: #000000;
    }
    .tab_1 tbody.tfoot a:hover {
        color: #D90000;
    }
    .tab_1 tbody.tfoot .line {
        padding: 1px 0px 0px 0px;
        background-color: #E6E6E6;
        border-top: none;
    }
    
    /* FORMULARE */
    .tab_1 input[type=text], .tab_1 input[type=password] {
        width: 120px;    
    }
    .tab_1 select {
        width: 126px;    
    }
    
    /* ROZNE */
    .tab_1 .cursor_for_images img {
       cursor: pointer;
        _cursor: hand;
    }

    #partners {
    width:100%;
	padding:0;
    margin-bottom: 20px;
    background-color: #808040;
    float: left;
    }

    #partners .head_box {
	display:block;
	float:left;
    width: 94%;
    padding: 3%;
    background-color: #55552B;
    color: #1D1D0E;
    font-weight: bold
}

    #partners .body_box {
	display:block;
	float:left;
    width: 94%;
    padding: 3%;
    background-color: #C9C992;
    border-bottom: #38381D 3px solid;
    color: #1D1D0E;
    }

    #partners a {
      text-decoration: underline;
    }

    #partners a:hover {
      text-decoration: none;
    }

    #main_small_adv {
    width:190px;
    float: left;
	padding:0px;
    margin-top: 7px;
    text-align: center;
    vertical-align: middle;
    }

    #main_small_adv a {
      text-decoration: underline;
      color: #D2D200
    }

    #main_small_adv a:hover {
      text-decoration: none;
    }

    #main_bottom_adv {
      text-align: right;
      padding: 100px 98px 10px 0;
    }

    #main_middle_adv {
    width:639px;
    float: left;
	padding:10px;
    float: left;
    text-align: center;
    background-color: #FFD6C1;
    border: #844200 solid 3px;
    }

    #main_middle_adv a {
      text-decoration: underline;
      color: #BB5E00
    }

    #main_middle_adv a:hover {
      text-decoration: none;
    }

    #main_middle_t_adv {
    width:639px;
    float: left;
	padding:10px;
    float: left;
    text-align: center;
    background-color: #FFFF80;
    border: #C16100 solid 3px;
    }

    #main_middle_t_adv a {
      text-decoration: underline;
      color: #757500
    }

    #main_middle_t_adv a:hover {
      text-decoration: none;
    }

    #adv_ban_r {
    position:fixed;
    top: 18px;
    width: 300px;
    height: 920px;
    left: 50%;
	margin-left: 380px;
    z-index: 1000;
    }

    .ban_r_2 {
    margin-top: 15px;
    }

/* === Go to top Button Style === */

#go-top-button{

  left: auto;

  right: 10px;

}

#go-top-button {

  position: fixed;

  z-index: 100;

  background: #424242;

  width: 50px;

  height: 40px;

  text-align: center;

  font-size: 24px;

  bottom: -70px;

  right: 10px;

  cursor: pointer;

  overflow: auto;

  opacity: 0.5;

  -webkit-transition: all .25s ease-in-out;

  -moz-transition: all .25s ease-in-out;

  -ms-transition: all .25s ease-in-out;

  -o-transition: all .25s ease-in-out;

  transition: all .25s ease-in-out;

  -webkit-backface-visibility:hidden;

  color: #FFFFFF;

  -webkit-transform: rotate(90deg);

  -moz-transform: rotate(90deg);

  -ms-transform: rotate(90deg);

  transform: rotate(90deg);

  font-family: 'Oswald', sans-serif;

  padding: 0 0 7px 0;


}

#go-top-button:hover{

  opacity: 0.8;

}

.img-circle {
        border-radius: 50%;
        border: solid 8px #F2F2F2;
}

.s_icon {
 float: right;
 margin: 2px 5px 0 0;
}

@media (max-height: 910px) {
    #adv_ban_r {
        position: absolute;
    }
}



@media (max-width: 1070px) {




    ul#head_menu {
	width: 100%;
    padding: 0px;
    margin:0px;
    }

    #header .adv_head {
   display: none;
    }

    #header {
    margin:0px;
    }

    ul#topmenu_full {
    width: 99.9%;
    padding: 0px;
    margin:0px;
    }

    ul#head_menu li#s_menu {

    display: inline;

    }

    ul#head_menu li#s_main {
    display: inline;
    }

    ul#head_menu li#s_main a {
    display: inline;
    margin: 0px;
    padding: 0px;
    }

   /* #adv_mum {
       display: none;
    }*/

    #left_column {
       display: none;
    }

    #body.full{
        width: 99.9%;
        padding: 0px;
        margin:0px;
    }

    .link_main {
       display: none;
    }

    #body.full_left {
       width: 99.9%;
        padding: 0px;
        margin:0px;
    }

    #match_list {
        width: 99.9%;
        padding: 0px;
    }

    div#site_box {
	width:99%;
    margin-top: 2px
    }

    div.main {
    width: 99.9%;
    padding: 0px;
    margin:0px;
    }

    #player_box {
    width: 100%;
      padding:0px;
  }

    table.table {
	width:100%;
    font-size: 1.4em;
    }

    div.notification {
    width: 99.9%;
    padding: 0px;
    margin: 0px;
    }
    #header .navi {
	left:0px;
    padding: 0px;
    }

    div.player_match_info {
	width: 100%;
    }

    div#footer {

	width:100%;
    padding:0px;
    margin:0px;
    }
    #footer.full {
	width:100%;
    padding:0px;
    margin:0px;
    }

    #footer .left_fo {
	width:98%;
    padding:1%;
    margin:0px;
    }

    #footer .right_fo {
	width:98%;
    padding:1%;
    margin:0px;
    }

    #adv_ban_r {
   display: none;
    }
}

@media (max-width: 700px) {
    div.player_msmall {
      width: 100%;
      padding: 0px;
    }

    .m-h-m {
      display: none;
    }

}

@media (max-width: 450px) {
    ul#head_menu li a {
	font-size: 10px;
    padding: 15px 4px 21px 4px;
    }

    ul#topmenu_full li a {
	font-size: 10px;
    }

    table.table {
    font-size: 1.1em;
    }

    span.mob-hide {
     display: none;
    }

    .m-h-s {
      display: none;
    }

}

@media (max-width: 350px) {
        div.main {
    width: 350px;
    padding: 0px;

    }
}

.arrow {
  border: solid #EDEDED;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}